.filters::-webkit-scrollbar {
  display: none;
  width: 10px;
  height: 10px;
}
.filters:hover::-webkit-scrollbar {
  display: block;
}

.filters::-webkit-scrollbar-track {
  display: none;
  border-radius: 100vh;
  background: #f7f4ed;
}

.filters::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.filters::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(253 186 116);
  cursor: pointer;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(253 186 116);
  cursor: pointer;
  pointer-events: auto;
}

.halftone {
  background-image: radial-gradient(
    circle at center,
    hsl(240, 100%, 80%) 0.05rem,
    transparent 0
  );
  background-size: 0.2rem 0.2rem;
  background-repeat: round;
}

.comment-to-block {
  display: block;
}

#cart-modal-children::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#cart-modal-children::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}
#cart-modal-children::-webkit-scrollbar-thumb {
  background: #727272;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}
