@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.slide-transition {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.slide-transition:hover {
  transform: scale(1.05);
}
